// @import '../src/assets/letter-o.png';
// @import  '../src//assets/letter-x.jpg';

.default-class {
    border: 1px grey solid;
    height: 150px;
    width: 150px;
    
}

.class-O {
    background-image: url('../src/assets/letter-o.png');
    background-position: center;
    background-size: cover;
    border: 1px grey solid;
    height: 150px;
    width: 150px;
}

.X-class {
    background-image: url('../src//assets/letter-x.jpg');
    background-position: center;
    background-size: cover;
    border: 1px grey solid;
    height: 150px;
    width: 150px;
}

.game {
    position: absolute;
    top: 22%;
    left: 26%;
}
